<html>
    <head>
        <title>Zip File Generator</title>
    </head>
    <body>
        <form method="post">
            <input type="text" name="singer_name" placeholder="Singer Name">
            <input type="text" name="number_of_videos" placeholder="Number of Videos">
            <input type="text" name="duration_of_each_video" placeholder="Duration of Each Video (in seconds)">
            <input type="email" name="email" placeholder="Email">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>